
<header th:fragment="header">
    <div class="header_top">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">
        <input class="area" type="button" value="" onclick="">


    </div>
    <div style="text-align: center; margin-top: 10px;">
        <button class="btn btn-outline-primary" onclick="location.href='/map/naver'">
            📍 전체 지도 보기
        </button>
        <button class="btn btn-outline-primary" onclick="location.href='/api/tour/main'">
            📍 메인페이지
        </button>
    </div>

</header>