<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>지역별 관광지 상세보기</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tourAreaList.css">
</head>
<body>
<div th:replace="common/header :: header"></div>
<h1 class="title">지역별 리스트</h1>
<!--리스트 메인 -->
<div class="split-container">


    <div class="left">
        <div class="tour-grid" id="tourList">

        </div>
    </div>

    <div class="right">
        <div>
            <div id="map" style="width:90%;height:500px;"></div>

        </div>
    </div>

</div>




<script th:inline="javascript">
    let initialData = [[${areafestivalList}]];
    let parsedData = JSON.parse(initialData); //파싱먼저

    console.log(parsedData);
    $(document).ready(function () {
        if (parsedData && parsedData.response && parsedData.response.body.items) {
            parsedData.response.body.items.item.forEach(function(item) {
                $('#tourList').append(`
        <div class="tour-card">
          <img src="${item.firstimage || 'default.jpg'}" alt="${item.title}">
          <div class="card-body">
            <div class="title">${item.title}</div>
            <div class="address">${item.addr1 || '주소 없음'}</div>
            <div class="tags">#${item.title.replace(/\s+/g, '')}</div>
            <div><a href="#">상세보기</a></div>
          </div>
        </div>
      `);
            });
        }
    });


    //네이버 지도 ajax 호출 //
    let naverClientId = '';

    $.ajax({
        url:'/map/api/naverMapClientId',
        method:'GET',
        success:function(data){
            naverClientId = data;
            const script = document.createElement('script');
            script.src =`https://openapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=${naverClientId}`;
            document.head.appendChild(script);
            script.onload = function () {
                initMap();
            }
        }

    });
    function initMap() {
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.5665, 126.9780),
            zoom: 10
        });
    }

    </script>
<script src="/js/main.js"></script>

</body>
</html>
