<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>지역별 관광지 상세보기</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tourAreaList.css">
</head>
<body>
<div th:replace="common/header :: header"></div>
<h1 class="title">지역별 리스트</h1>
<!--리스트 메인 -->
<div class="split-container">


    <div class="left">
        <div class="tour-grid" id="tourList">

        </div>
    </div>

    <div class="right">
        <div>
            <div id="map" style="width:90%;height:500px;"></div>

        </div>
    </div>

</div>




<script th:inline="javascript">
    let initialData = [[${areafestivalList}]];
    let parsedData = JSON.parse(initialData); //파싱먼저

    console.log(parsedData);
    $(document).ready(function () {
        if (parsedData && parsedData.response && parsedData.response.body.items) {
            parsedData.response.body.items.item.forEach(function(item) {
                $('#tourList').append(`
        <div class="tour-card">
          <img src="${item.firstimage || 'default.jpg'}" alt="${item.title}">
          <div class="card-body">
            <div class="title">${item.title}</div>
            <div class="address">${item.addr1 || '주소 없음'}</div>
            <div class="tags">#${item.title.replace(/\s+/g, '')}</div>
            <div><a href="#">상세보기</a></div>
          </div>
        </div>
      `);
            });
        }
    });


    //네이버 지도 ajax 호출 //
    let naverClientId = '';

    $.ajax({
        url:'/map/api/naverMapClientId',
        method:'GET',
        success:function(data){
            naverClientId = data;
            const script = document.createElement('script');
            script.src =`https://openapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=${naverClientId}`;
            document.head.appendChild(script);
            script.onload = function () {
                initMap();
            }
        }

    });

    //지역별 중심부 마커처리 //
    const regionName = {
        '서울': { lat: 37.5665, lng: 126.9780 },
        '인천': { lat: 37.4563, lng: 126.7052 },
        '대전': { lat: 36.3504, lng: 127.3845 },
        '대구': { lat: 35.8722, lng: 128.6025 },
        '광주': { lat: 35.1595, lng: 126.8526 },
        '부산': { lat: 35.1796, lng: 129.0756 },
        '울산': { lat: 35.5384, lng: 129.3114 },
        '세종특별자치시': { lat: 36.4800, lng: 127.2890 },
        '경기도': { lat: 37.4138, lng: 127.5183 },
        '강원특별자치도': { lat: 37.8228, lng: 128.1555 }
    };


    let map;
    $(document).on('click', '.area', function () {
        const region = $(this).val();
        const coord = regionName[region];
        console.log("아오" + coord.lat + "," + coord.lng);
        if (coord && map) {
            map.setCenter(new naver.maps.LatLng(coord.lat, coord.lng));
        }
    });

    function initMap() {
        map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.5665, 126.9780),
            zoom: 10
        });

        // 마커
        if (parsedData && parsedData.response && parsedData.response.body.items) {
            parsedData.response.body.items.item.forEach(item => {
                if (item.mapx && item.mapy && Number(item.mapx) !== 0 && Number(item.mapy) !== 0) {
                    const marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(item.mapy, item.mapx),
                        map: map,
                        title: item.title
                    });

                    naver.maps.Event.addListener(marker, 'click', function () {
                        const infoWindow = new naver.maps.InfoWindow();
                        infoWindow.setContent(`<div style="padding:20px;">${item.title}<br><a href="#">상세보기</a></div>`);
                        infoWindow.open(map, marker);
                    });
                }
            });
        }
    }

</script>
<script src="/js/main.js"></script>

</body>
</html>
