<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>전체지도</title>
    <!-- 필수 JS SDK -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>
</head>
<body>
<div id="map" style="width:50%; height:500px;"></div>

<!-- SDK-->
<script th:src="@{'https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=' + ${clientId}}"></script>


<p>안녕하세요</p>

<!-- 지도 생성 및 마커 -->
<script th:inline="javascript">
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5665, 126.9780),
        zoom: 10
    });

    // var marker = new naver.maps.Marker({
    //     position: new naver.maps.LatLng(37.5665, 126.9780),
    //     map: map,
    //     title: "서울특별시청"
    // });
    let festivalList = [[${festivalList}]];
    console.log(festivalList);

    festivalList.forEach(festival => {
        if (festival.mapX && festival.mapY && Number(festival.mapX) !== 0 && Number(festival.mapY) !== 0) {

            const marker = new naver.maps.Marker({ // ✅ 변수에 저장
                position: new naver.maps.LatLng(festival.mapY, festival.mapX),
                map: map,
                title: festival.title
            });


            naver.maps.Event.addListener(marker, 'click', function () {
                const infoWindow = new naver.maps.InfoWindow(); // ✅ InfoWindow도 생성해야 함
                infoWindow.setContent(`<div style="padding:20px;">${festival.title}
<br>
  <a href="#">상세보기</a></div>`);
                infoWindow.open(map, marker);
            });
        }
    });


    console.log(festivalList.mapX, festivalList.mapY);
</script>
</body>
</html>
